nav {
  background-color:aquamarine;
  color:black!important;
  width: 100%;
  margin-top: 0px;
  padding: 10px;
  height: 70px;
}

.navbar-nav {
  color:black!important;
}

.mat-icon{
    height: 13px;
    width: 19px;
    font-size: 13px;
    padding-top :2px;
}
  
.foto {
    width: 100%;
}

.icona-relax{
  width: 50px;
  height: 50px;
  margin-right: 5px;
}