nav {
  background-color:aquamarine;
  color: black;
  width: 100%;
  margin-top: 0px;
  padding: 10px;
  height: 50px;
}

.navbar-nav {
  color: #000;
}

.mat-icon{
    height: 13px;
    width: 19px;
    font-size: 13px;
    padding-top :2px;
}
  
.foto {
    width: 100%;
}