.container-titolo{
    h2{
      font-size:35px;
      color:aquamarine(13,182,90);
      font-family: 'Homemade Apple', cursive;
    };
    .paragrafo {
      font-size:15px;
      text-align: justify;
    }
}