

#main-container {
  padding: 20px,20px;
  text-align: center;
}

.container-titolo{
    h2{
      font-size:35px;
      color:aquamarine(13,182,90);
      font-family: 'Verdana', cursive;
      text-align:center;
    }

    .paragrafo {
      font-size:15px;
      text-align: justify;
    }

    .row {
      display: block;
      flex: 100%;
      padding: 10px;
    }

}


