.container-titolo{
    h2{
      font-size:35px;
      color:aquamarine(16,182,90);
      font-family: 'Homemade Apple', cursive;
    };
    .paragrafo {
      font-size:50px;
      text-align: justify;
    }
  
  }
  
  .mat-icon{
    height: 13px;
    width: 19px;
    font-size: 13px;
    padding-top :2px;
  }
  
  .foto {
    width: 100%;
  }
  
  