div.scroll {
    background-color: #f4ecf5;
    width: 500px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    padding: 20px;
    display:block;
    margin:0px auto;
  }