footer {
  background-color: aquamarine!important;
  color: black !important;
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  height: 250px;
}

.icona-relax {
  width: 60px;
  margin-right: 5px;
}